<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nowcoder.community.dao.CommentMapper">

    <!--    简化字段书写，因为写*号在很多地方不受待见的-->
    <sql id="selectFields">
     id, user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <sql id="insertFields">
     user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <select id="selectCommentByEntity" resultType="Comment">
        select
        <include refid="selectFields"></include>
        from comment
        <where>
            and status = 0
            and entity_type=#{entityType}
            and entity_id=#{entityId}
        </where>
        ORDER BY create_time asc
        LIMIT #{offset} , #{limit}
    </select>


    <select id="selectCountByEntity" resultType="java.lang.Integer">
        select COUNT(id)
        from comment
        <where>
            and status = 0
            and entity_type=#{entityType} and entity_id=#{entityId}
        </where>

    </select>
    <select id="findCommentById" resultType="Comment">
        select
        <include refid="selectFields"></include>
        from comment
        where id=#{commentId}
    </select>


    <insert id="insertComment" keyProperty="id">
        insert into comment (<include refid="insertFields"></include>)
        values
        ( #{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </insert>


</mapper>









